/* .foot_contain {

  width: 100%;
}
.sub-links ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  font-size: 15px;
  list-style: none;
  padding: 20px 90px 20px 90px;
  margin: 20px 90px 20px 90px;
}
footer {
  padding-bottom: 10px;
  text-align: center;
  color: #686868;
}
.logos {
  
  text-align: left;
  margin-left: 20px;
  font-size: 25px;
  color: #686868;
}
.footer_icon {
  padding: 15px;
}
.logos svg {
  height: 4rem;
} */
.footer-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(238, 236, 236); */
}
.footer-filed {
  margin: 2.5rem;
  padding: 10px;
}
.media-icons {
  font-size: 2.08rem;
  margin: 0 0.8rem;
  background-color: transparent;
  color: black;
}
.footer-detils {
  margin-bottom: 2rem;
  font-size: small;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
