.search-cont {
  width: 100%;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
}
.search-title {
  margin: 2px;

  font-size: 16px;
  margin-left: 30px;
}
.search-img-cont {
  margin-top: 2px;
}
.search-img {
  margin: 20px;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
}

.searchimg {
  border-radius: 24px;
}
